body {
	color: var(--text);
	font-family:  "Overpass", sans-serif;
	font-weight: 300;
	line-height: 1.6;
}

strong{
	font-weight: 600;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

code{
	font-family: var(--font-mono);
	font-size: .8rem;
	background: var(--code);
	border: 1px solid var(--light);
	color: var(--secondary);
	padding: 0 .2em;
	border-radius: .2em;
	white-space: nowrap;
}


pre {
	background-color: var(--code);
	font-size: 1em;
	padding: 1rem;
	overflow-x: auto;
	border-radius: .3em;
	margin:25px;
}
  
pre code {
	background: none;
	border: none;
	padding: 0;
	white-space: pre;
	line-height:.8rem;
}

blockquote {
	background-color: var(--code);
	padding: 1rem 2rem;
	border-left: 3px solid var(--light);
}

img {
	display: block;
    max-width: 100%;
	height: auto;
	margin: 0 auto;
}
