html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
}


/* Top bar */
header{
	position:fixed;
	top:0px;
	left:0px;
	width: 100vw;
	height:var(--topbar-height);
	line-height:var(--topbar-height);
	background-color:var(--white);
	box-shadow: 0 0 15px -5px var(--dark);
	z-index: 1001;

	display: flex;
  	flex-wrap: wrap;
}

header section{
	margin:0px 1em;
	flex-grow: 1;
	text-align: center;  
}

header section:first-child{
	text-align: left; 
}

header section:last-child{
	text-align: right; 
}

header section ul{
	margin: 0px;
	padding: 0px;
}

header section li{
	display: inline-block;
	margin:0 .5em;
}

header section li:last-child{
	margin-right: 0;
}

header section li a{
	color: var(--text);
}

.logo{
	font-size: 2rem;
	color: var(--primary) !important;
	transition: .3s;
}

.logo:hover{
	text-decoration: none;
	opacity: .65;
}

.logo span{
	color:var(--light);
}

/* Sidebar navigation */
nav{
	position:fixed;
	top:var(--topbar-height);
	left:0px;
	width:var(--sidebar-width);
	height:100vh;
	background-color:var(--secondary);
	box-shadow: 0 0 15px -5px var(--dark);
	overflow-x: hidden;
	transition: .3s;
	transition-delay: .2s;
	z-index:1000
}

nav span, nav a{
	color: var(--text-sidebar);
	white-space: nowrap;
	font-size:1em;
	opacity: .75;
	transition: .2s;
}

nav ul,nav ul li{
	display: block;
	padding:0px;
	margin:0px;
	margin-bottom: .8em;
}

nav ul{
	padding:2em;
}

nav ul li ul{
	padding:0 0 0 1em;
}

nav ul li span,nav ul li a{
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size:.9em;
	font-weight:600;
}

nav ul li a:hover, nav ul li a.active{
	opacity:1;
}
nav ul li a.active::after {
	float:right;
	content: url('data:image/svg+xml;utf8,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><g><path fill="white" d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z" /></g></svg>');
}

nav ul li ul span,nav ul li ul a{
	text-transform: initial;
	font-size:1rem;
	letter-spacing: 0.05em;
	font-weight:400;
}

/* Content */
main{
	padding-top:var(--topbar-height);
	margin-left:var(--sidebar-width);
	background-color:var(--bg-light);
	min-height: calc(100vh - var(--topbar-height));
	max-width:70em;
}

article{
	padding:0 4em;
}

/* Example block */
.example{
	border:1px solid var(--example-border);
	margin:25px;
}

/* .example > .result{} */
 .example > .code{
	border-top:1px solid var(--example-border);
 } 


/* Properties block */

.properties{
	position: relative;
	display: block;
	border:1px solid var(--props-border);
	margin:25px;
	padding: .3em;
}

.properties dd, .properties dt{
	display: inline-block;
	margin:0px;
}

/*name*/
.properties dt{
	width: 10em;
	font-weight: bold;
	padding-top:.5em;
}

/*type*/
.properties dt + dd{
	color: var(--props-border);
	padding-top:.5em;
}

.properties dfn{
	display: inline-block;
	padding: 0 .3em;
	color: var(--props-types-text);
	background: var(--props-types-bg);
	border: 1px solid var(--props-types-border);
	border-radius: .3em;
	margin-right: .3em;
	font-style: normal;
	font-family: var(--font-mono);
	font-size:.8em;
	letter-spacing: -.05em;
}

.properties dfn i{
	color: var(--props-oneof-text);
}


/*default*/
.properties dt + dd + dd{
	width:100%;
	color: var(--props-default-text);
	padding-top:.3em;
}

/*description*/
.properties dt + dd + dd + dd{
	display: block;
	border-bottom: 1px solid var(--props-devider);
	padding:0 .3em .3em 10em;
	margin-top:-1em;
}

.properties dd:last-of-type{
	border-bottom: none;
}



/* Responsivity */
.showSidebar{
	display:none;
	position: fixed;
	bottom: 10px;
	left: 10px;
	width:37px;
	height:37px;
	z-index: 1001;
	content: url('data:image/svg+xml;utf8,<svg  width="24" height="24" xmlns="http://www.w3.org/2000/svg"><g><path fill="black" d="M19,13H3V11H19L15,7L16.4,5.6L22.8,12L16.4,18.4L15,17L19,13M3,6H13V8H3V6M13,16V18H3V16H13Z" /></g></svg>');
	border: 1px solid var(--dark);
	background-color: var(--white);
}

.showSidebar:focus{
	content: url('data:image/svg+xml;utf8,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><g><path fill="black" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" /></g></svg>');
}

.showSidebar:focus ~ nav {
    width:var(--sidebar-width);
}


@media (max-width: 800px) {
	.showSidebar{display:block;}
	nav {width: 0px;}
	main{
		margin-left:0px;
		max-width: 100%;
	}
	article{
		padding:0 1em;
	}
	.properties dt{width: 5em;}
	.properties dt + dd + dd + dd{padding-left: 5em;}
}
