@import "styles/layout.css";
@import "styles/typography.css";
@import "styles/fonts.css";

:root{
    --primary: #ff3e00;
    --secondary: #676778;
    --dark: #34343d;
    --light: #c0c0d8;

    --white: #ffffff;
    --code: #fdf6e3;

    --text: var(--dark);
    --text-sidebar:var(--white);


    --topbar-height: 50px;
    --sidebar-width: 300px;
}

